.FreeFallWrapper{
 position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/TypingMasterImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.FreeFallWrapper2{
  border: 2px solid blue;
 position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/NightImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lane-debug {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.lane {
  position: absolute;
  top: 0;
  width: 0px;
  height: 100%;
}
.box {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  background-color: rgba(211, 211, 211, 0.648);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  animation: fall linear forwards;
  border-radius: 8px;
  font-weight:550;
  font-family: monospace;
  color: black;
}

@keyframes fall {
  0% {
    top: -60px;
   
  }
  100% {
    top: 100vh;
  }
}

 a{
  font-size: 20px;
   display: inline-block;
  padding: 9px 16px;            
  background-color: #33cfe3;   
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;      
  border: none;
  border-radius: 4px;          
  cursor: pointer;
  transition: background-color 0.2s;
  color: white;
}

.play_again_btn{
  font-size: 20px;
     display: flex;
     align-items: center;
  border: none;
  padding: 8px 16px;            
  background-color: #33cfe3;   
  color: white; 
  border-radius: 4px;          
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}
.button-wrapper{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a:hover,.play_again_btn:hover{
  background-color: #33cee3a8;
} 

@media(max-width:600px){
  .button-wrapper{
    width: 70vw;
  }
  .play_again_btn{
    margin-bottom: 20px;
    font-size: 20px;
    height: 8vh;
  }
  a{
    margin-top: 15px;
    font-size: 20px;
    height: 4.8vh;
  }
  .box{
    width: 20px;
    height: 20px;
    font-size:15px;
    font-weight: 600;
    border-radius: 0px;
  }
}

@media(max-width:390px){
  .button-wrapper{
    min-width: 270px;
  }
}

@media(max-width:300px){
  .button-wrapper{
    min-width: 250px;
  }
  .play_again_btn{
    margin-bottom: 20px;
    font-size: 15px;
    height: 6.5vh;
    font-weight: 100;
  }
  a{
    margin-top: 15px;
    font-size: 15px;
    height: 3.2vh;
    font-weight: 100;
  }
}
